services:
  - type: static
    name: cinetours
    buildCommand: npm install && npm run build
    staticPublishPath: build
    headers:
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-XSS-Protection
        value: 1; mode=block
      - path: /*
        name: Cache-Control
        value: public, max-age=31536000, immutable

